/*--------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.wrapper {
    max-width: 1600px;
    height: 3284px;
}
.navi {
    height: 60px;
    
    
}


.navi__menu {
    padding: 19px 200px 19px 200px ;
    
    
}
.navi__list li{
    font-size:18px ;
    
}

.list__color{
    color: #E86136;
    
}
.navi__list li:first-child{
    padding: 0px 0px 0px 0px;
}
.navi__list li:last-child{
    padding: 0px 0px 0px 0px;
}

.navi__list {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    
}
.li_2 {
    padding: 0px 0px 0px 100px;
}

.li_7 {
    padding: 0px 107px 0px 0px;
}







.header {
    width: 1600px;
    height:800px ;
    background: url('/img/header_back.png') ;
    display: grid;
    grid-template-rows:34% 13% 10% 42%;
    grid-template-columns: 1fr;
    

    grid-template-areas: 
    'title title title '
    'text text text' 
    'buton buton buton'
    'first second third';

}
.header__title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 98px;
    line-height: 100%;
    color:#fff;
    text-transform: uppercase;
grid-area:title;
padding: 60px 0px 0px 220px;

}

.header__Text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 49px;
    color: #FFFFFF;
    grid-area:text;
    padding:0px 0px 0px 220px;
    
    

}
.header__button {
    
    grid-area:buton;
    
    padding: 0px 0px 0px 220px;
    
}

.button {
    color: #fff;
    background-color: #E86136;
    width:360px;
    height: 55px;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
padding: 0px 0px 0px 0px;
background-image: url('/img/arrow01.png');
background-repeat: no-repeat;
background-position: 285px 20px;
    
}

.header__column {
    display: flex;
    justify-content: stretch;
    color: #fff;
    padding: 0px 0px 0px 0px;
}
.content{

    backdrop-filter: blur(10px);
    margin: 100px 0px 0px 0px;
    width: 360px;
    height: 159px; 
}
.header_column_1{
    padding: 0px 40px 0px 220px;
}
.header_column_2{
    padding: 0px 40px 0px 0px;
}
.header_column_3{
    padding: 0px 0px 0px 0px;
}
.column__first {
    grid-area:first;
    
}
.dollar_img{
margin: 20px 0px 0px 155px;
}
.column__icon {

}
.icon {
    
}

.column__text {
}

.text {
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
}
.column__second {
    grid-area:second;
    
}
.avard_img{
    margin: 20px 0px 0px 155px;
}
.column__third {
    grid-area:third;
}
.map_icon{
    margin: 20px 0px 0px 155px;
}


.description {
    width: 1600px;
    height:800px ;
    
}
.description__title {
    font-family: 'Gilroy';
    font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 100%;
text-transform: uppercase;
padding: 90px 0px 0px 220px;
}
.description__column {
    display: flex;
    justify-content: stretch;
}
.column__content_1 {
    width: 260px;
    height: 480px;
    background-color:  #F3F3F3;
    border-radius: 0px 0px 8px 8px;
    margin: 60px 0px 0px 220px;
}
.img_1{
    height: 440px;
    width: 260px;
}
.content {
    
}
.column__img {
    height: 360px;
    width: 260px;
    border-radius: 0px 0px 8px 8px;
}

.column__title {
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
padding: 0px 0px 0px 20px;
}
.column__subtitle {
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #313131;
opacity: 0.8;
padding: 12px 0px 0px 20px;
}
.column__content_2 {
    width: 260px;
    height: 480px;
    background-color:  #F3F3F3;
    border-radius: 8px 8px 0px 0px;
    margin: 60px 0px 0px 40px;
}

.column__content_3 {
    width: 260px;
    height: 480px;
    background-color:  #F3F3F3;
    border-radius: 8px 8px 0px 0px;
    margin: 60px 0px 0px 40px;
}
.column__content_4 {
    width: 260px;
    height: 480px;
    background-color:  #F3F3F3;
    border-radius: 8px 8px 0px 0px;
    margin: 60px 0px 0px 40px;
}



.excursions {
    width: 1600px;
    height:800px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'screen screen'
    'second_screen connection';


}
.excursions__title{
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 100%;
text-transform: uppercase;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 100%;
text-transform: uppercase;
}
.excursions__title{
    padding: 0px 0px 60px 220px;
}
.screen {
    background: url('/img/screen_back.png');
    grid-area:screen;
    width: 1160px;
    height: 320px;
    border-radius: 8px;
    margin: 0px 0px 0px 220px;
    
    

}
.screen__button {
    
    
    

    
}
.button_content {
    color: #fff;
    background-color: #E86136;
    width: 179px;
    height: 46px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 30px 0px 0px 30px;
    background-image: url('/img/arrow01.png');
    background-repeat: no-repeat;
    background-position: 150px 16px;
    padding: 0px 20px 0px 0px;
}
.screen__items {
    display:flex;
    flex-direction:column;
    margin: 170px 0px 0px 0px;
}
.screen__item_text {
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
opacity: 0.8;
padding: 0px 0px 0px 31px ;
}
    
    

.screen__item_botton_text {
    display:flex;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
    color:#FFFFFF ;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}


.botton_text_1 {
margin: 0px 0px 0px 30px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;


text-align: center;
}

.botton_text_2 {
    background: url(/img/screen1.png)no-repeat;
    display: flex;
    margin: 10px 0px 0px 130px;
    padding: 0px 0px 0px 30px;
    
}
.img_bottom2 {
}
.botton_text_3 {
    background: url(/img/screen2.png)no-repeat;
    padding: 0px 0px 0px 30px;
    display: flex;
    margin: 10px 0px 0px 10px;
 
}
.img_bottom3 {
}
.botton_text_4 {
    background: url(/img/screen3.png)no-repeat;
    padding: 0px 0px 0px 30px;
    display: flex;
    margin: 10px 25px 0px 0px;
    
}
.img_bottom4 {
}










.second__screen {
    width: 560px;
    height: 320px;
    background: url("/img/second_back.png");
    border-radius: 8px;
    grid-area:second_screen;
    display: grid;
    margin: 0px 0px 120px 220px;
    
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'Text1'
    'Text2'
    'screen_button'
    'bottonPanel';
}
.second__screen__text1 {
grid-area:Text1;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
opacity: 0.8;
color: #fff;
padding: 20px 0px 0px 30px;
}
.second__screen__text2 {
grid-area:Text2;
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #fff;
padding: 0px 0px 0px 30px;
margin: -38px 0px 0px 0px;
}
.second__screen__button {
    grid-area:screen_button;
    padding: 0px 0px 0px 0px;
    margin: -90px 0px 0px 0px;
}
.screen__button {

}
.second__screen__bottonPanel  {
    grid-area:bottonPanel;
    width:560px;
    height:61px;
    display: flex;
    backdrop-filter: blur(10px);
    
    border-radius: 0px 0px 8px 8px;
    background: rgba(0, 0, 0, 0.4);
    padding: 0px 0px 10px 0px;
    margin: 20px 0px 0px 0px; 
}



.botton_text_2 {
    margin: 20px 50px 0px 58px;
}
.style_text{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.img_bottom2 {
}
.botton_text_3 {
    margin: 20px 50px 0px 0px;
}
.img_bottom3 {
}
.botton_text_4 {
    margin: 20px 50px 0px 0px;
}
.img_bottom4 {
}











.connection {
    grid-area:connection;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0px 0px 80px 140px;
}
.connection_tittle {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #313131;
text-align: center;
padding: 0px 300px 0px 0px;
}
.name {
width: 360px;
height: 46px;
left: 920px;
top: 2204px;
background: #FFFFFF;
border: 1px solid #949494;
border-radius: 4px;
margin: 20px 0px 0px 0px;
}
.Phonenumber {
width: 360px;
height: 46px;
left: 920px;
top: 2270px;
background: #FFFFFF;
border: 1px solid rgba(49, 49, 49, 0.5);
border-radius: 4px;
margin: 0px 0px 0px 0px;
}
.input_text{
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #949494;
opacity: 0.5;
margin: 13px 0px 0px 25px;
}
.connection_button {
}
.button_send {
}
.button_send{
width: 360px;
height: 56px;
left: 920px;
top: 2346px;
background: #E86136;
border-radius: 4px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
background-image: url('/img/arrow01.png');
background-repeat: no-repeat;
background-position: 280px 20px;
margin: -10px 0px 0px 0px;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup:target .popup__content {
    transform: translate(0px,0px);
    opacity: 1px;
}


.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
    
}
.popup__content {
    width:1300px;
    height:1028px;
    background-color: #fff;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0px;
    transform: translate(0px, -100%);
}
.popup__close {
    position: absolute;
    right: 6px;
    top:10px;
    font-size: 20px;
    color: black;
    text-decoration: none;

}
.popup__title {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 100%;
text-align: center;
text-transform: uppercase;
color: #313131;
padding: 40px 0px 0px 0px;
}
.popup_img{
    width:760px ;
    height: 320px; 
    border-radius: 8px;
    padding: 0px 0px 0px 0px;
    margin: 40px 0px 0px 270px;
}
.popup__sub_img {
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #313131;
}
.popup_requisites {
    
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 40px 0px 0px 0px;
}
.name_popup {
margin: 0px 0px 0px 60px;
width: 360px;
height: 46px;
background: #FFFFFF;
border: 1px solid #949494;
border-radius: 4px;
}
.input_text {
}
.Phonenumber {
    margin: 0px 0px 0px 0px;
}
.POPUP_button_send {
width: 360px;
height: 46px;
left: 920px;
top: 2346px;
background: #E86136;
border-radius: 4px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
color: #FFFFFF;
padding: 0px 10px 0px 0px;
margin: 0px 50px 0px 0px;


background-image: url('/img/arrow01.png');
background-repeat: no-repeat;
background-position: 330px 15px;


}
.button_send {
}
.popup__second_title {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 100%;
text-transform: uppercase;
color: #313131;
padding: 70px 0px 60px 85px;
}
.popup_description {
    
    display: flex; 
    min-width:560px;
    min-height:61px; 
    justify-content: space-between;


}
.popup_description__title{
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
padding: 0px 0px 0px 70px;
}

.popup_Panel{
    display: flex;
    flex-direction:column;
    align-items: start;
    
    padding: 0px 0px 0px 0px;
}
.black1{
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #313131;
padding: 0px 0px 0px 35px;
margin: 40px 0px 0px 80px;
}
.black2{
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #313131;
padding: 0px 0px 0px 35px;
margin: 30px 0px 0px 80px;
}
.black3{
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #313131;
padding: 0px 0px 0px 35px;
margin: 30px 0px 0px 80px;
}
.description__timing {
}
.description__title {
}
.second__screen__bottonPanel {
}
.botton_text_2 {
}
.style_text {
}
.botton_text_3 {
}
.botton_text_4 {
}
.description__describe {
width: 360px;
height: 171px;
font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #313131;
margin: 0px 460px 0px 0px;
padding: 0px 0px 0px 0px;
}
.popup__Line{
width: 1160px;
height: 0px;
border: 1px solid #949494;
margin: 0px 0px 20px 70px;
}
.popup__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}


.reviews {
    width: 1600px;
    height:800px ;
}
.reviews__title {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 100%;
color: #313131;
margin: 50px 0px 0px 10px;
text-transform: uppercase;
position: absolute;
width: 281px;
height: 70px;
left: 220px;
top: 2492px;
}
.reviews_line1{
    position: absolute;
width: 189px;
height: 0px;
top: 2525px;
border: 1px solid #949494;
margin: 50px 0px 0px 0px;
}
.reviews_line2{
    position: absolute;
    width: 650px;
    height: 0px;
    left: 521px;
    top: 2525px;
    border: 1px solid #949494;
    margin: 50px 0px 0px 40px;
}
.reviews_line3{
position: absolute;
width: 200px;
height: 0px;
left: 1370px;
top: 2525px;
border: 1px solid #949494;
margin: 50px 0px 0px 40px;

}
.slider {
position: relative;
margin: 100px 0px 0px 0px;
}
.slider .slick-arrow{
position: absolute;
top: -30%;
;
font-size: 0;
width: 60px;
height: 100px;
color: #E86136;
}
.slider .slick-arrow.slick-prev{
    left:0;
    background: url(/img/arrow-left.png)0 0 no-repeat;
    margin: 0px 0px 0px 1235px;
    padding: 0px 0px 0px 0px;
}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url(/img/arrow-right.png)0 0 no-repeat;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 270px;

}

.slider__item {
}
.slick-track{
    display: flex;
    align-items: flex-start;
    
}
.slick-list {
    overflow: hidden;
}





